---
http_interactions:
- request:
    method: post
    uri: https://chef.server/users
    body:
      encoding: ASCII-8BIT
      string: '{"username":"user","first_name":"firstname","last_name":"lastname","display_name":"firstname
        lastname","email":"user@exmaple.com","password":"a"}'
    headers:
      Content-Type:
      - application/json
      X-Ops-Sign:
      - algorithm=sha1;version=1.0;
      X-Ops-Userid: pivotal
      X-Ops-Timestamp:
      - '2015-04-28T17:39:21Z'
      X-Ops-Content-Hash:
      - "{{X-Ops-Content-Hash}}"
      X-Ops-Authorization-1:
      - "{{X-Ops-Authorization-1}}"
      X-Ops-Authorization-2:
      - "{{X-Ops-Authorization-2}}"
      X-Ops-Authorization-3:
      - "{{X-Ops-Authorization-3}}"
      X-Ops-Authorization-4:
      - "{{X-Ops-Authorization-4}}"
      X-Ops-Authorization-5:
      - "{{X-Ops-Authorization-5}}"
      X-Ops-Authorization-6:
      - "{{X-Ops-Authorization-6}}"
      X-Remote-Request-Id:
      - cd8acd59-0f29-459e-b6a7-1772e101c86b
      X-Chef-Version:
      - 12.2.1
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ops-Api-Info:
      - flavor=cs;version=12.0.0;oc_erchef=1.5.0
    body:
      encoding: UTF-8
      string: '{"error":["Password must have at least 6 characters"]}'
  recorded_at: Tue, 28 Apr 2015 17:39:22 GMT
recorded_with: VCR 2.9.3
