---
http_interactions:
- request:
    method: post
    uri: https://chef.server/users
    body:
      encoding: ASCII-8BIT
      string: '{"username":"user","first_name":"first-name","last_name":"last-name","display_name":"first-name
        last-name","email":"userexmaple.com","password":"password123"}'
    headers:
      Content-Type:
      - application/json
      X-Ops-Sign:
      - algorithm=sha1;version=1.0;
      X-Ops-Userid: pivotal
      X-Ops-Timestamp:
      - '2015-04-29T19:44:34Z'
      X-Ops-Content-Hash:
      - "{{X-Ops-Content-Hash}}"
      X-Ops-Authorization-1:
      - "{{X-Ops-Authorization-1}}"
      X-Ops-Authorization-2:
      - "{{X-Ops-Authorization-2}}"
      X-Ops-Authorization-3:
      - "{{X-Ops-Authorization-3}}"
      X-Ops-Authorization-4:
      - "{{X-Ops-Authorization-4}}"
      X-Ops-Authorization-5:
      - "{{X-Ops-Authorization-5}}"
      X-Ops-Authorization-6:
      - "{{X-Ops-Authorization-6}}"
      X-Remote-Request-Id:
      - dcace02e-2507-4e47-b63b-4fcfe54aa244
      X-Chef-Version:
      - 12.3.0
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ops-Api-Info:
      - flavor=cs;version=12.0.0;oc_erchef=1.5.0
    body:
      encoding: UTF-8
      string: '{"error":["email must be valid"]}'
  recorded_at: Wed, 29 Apr 2015 19:44:34 GMT
recorded_with: VCR 2.9.3
