---
http_interactions:
- request:
    method: post
    uri: https://chef.server/users
    body:
      encoding: ASCII-8BIT
      string: '{"username":"user","first_name":"firstname","last_name":"lastname","display_name":"firstname
        lastname","email":"user@exmaple.com","password":"password123"}'
    headers:
      Content-Type:
      - application/json
      X-Ops-Sign:
      - algorithm=sha1;version=1.0;
      X-Ops-Userid: pivotal
      X-Ops-Timestamp:
      - '2015-04-27T22:18:45Z'
      X-Ops-Content-Hash:
      - "{{X-Ops-Content-Hash}}"
      X-Ops-Authorization-1:
      - "{{X-Ops-Authorization-1}}"
      X-Ops-Authorization-2:
      - "{{X-Ops-Authorization-2}}"
      X-Ops-Authorization-3:
      - "{{X-Ops-Authorization-3}}"
      X-Ops-Authorization-4:
      - "{{X-Ops-Authorization-4}}"
      X-Ops-Authorization-5:
      - "{{X-Ops-Authorization-5}}"
      X-Ops-Authorization-6:
      - "{{X-Ops-Authorization-6}}"
      X-Remote-Request-Id:
      - 68285a19-c397-4f8f-86df-640a7754c69b
      X-Chef-Version:
      - 12.2.1
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Ops-Api-Info:
      - flavor=cs;version=12.0.0;oc_erchef=1.5.0
      Location:
      - http://chef.server/users/user
    body:
      encoding: UTF-8
      string: '{"error":["User ''user'' already exists"]}'
  recorded_at: Mon, 27 Apr 2015 22:18:46 GMT
recorded_with: VCR 2.9.3
